@model DreamworldHomepage.ViewModels.BannerViewModel


<style>
    #banner h1,  #banner button{
        color: #fff;
        font-size: 60pt;
        margin-left: 486.437px;
    }

    #banner h1{
        color: #fff;
        font-size: 60pt;
        max-width: 360px;
    }

    #banner button{
        color: #0091D5;
        font-size: 20pt;
        font-weight: bold;
        width: 150px;
        height: 60px;
        background-color: #fff;
        border-radius: 5px;
    }

    #banner img{			
	    width: 100%;
    	height: auto;
	}

    #banner-mobile{
	    display: block;
    }
	
    #banner-desk{
	    display: none;
	}

	@@media (min-width: 576px) {
        #banner-desk{
		    display: block;
		}
		#banner-mobile{
			display: none;
		}
	}

</style>

<div id="banner">
    <img id="banner-desk" src="/Content/images/Banner/Homepage_head-banner_desktop.jpg" alt="" />
    <img id="banner-mobile" src="~/Content/images/Banner/Homepage_head-banner_mobile.jpg" alt="" />
    <div class="content">
        <h1>@Model.Title</h1>
        <button type="button">@Model.ButtonText</button>
    </div>
</div>
