<footer id="ad-mod-footer" class="bg-brand-black-panel">
    <div class="ad-social-connect">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="sr-only">
                        Social links
                    </h1>
                    <ul class="ad-social-icons">
                        <li>
                            <a href="http://www.facebook.com/dreamworld" target="_blank">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li>

                            <a href="http://instagram.com/dreamworldau/" target="_blank">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>

                            <a href="https://twitter.com/dreamworld_au" target="_blank">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </li>
                        <li>

                            <a href="http://www.youtube.com/dreamworldAU" target="_blank">
                                <span class="fa fa-youtube"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://au.linkedin.com/company/dreamworldau" target="_blank">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>
                    </ul>

                    <ul class="ad-quick-links">
                        <li>
                            <a href="/about-us">About us</a>
                        </li>
                        <li>
                            <a href="/affiliate-program">Affiliate program</a>
                        </li>
                        <li>
                            <a href="/contact-us">Contact us</a>
                        </li>
                        <li>
                            <a href="/employment">Employment</a>
                        </li>
                        <li>
                            <a href="/trade-and-media-portal">Trade And Media</a>
                        </li>
                        <li>
                            <a href="/charity">Charity</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="sr-only">
                    Dreamworld links
                </h1>

                <div class="ad-main-link">

                    <ul>
                        <li>
                            <h2>
                                <a href="/park-info/about-the-gold-coast">Gold Coast Australia</a>
                            </h2>
                        </li>
                        <li>
                            <a href="/tickets">Gold Coast Theme Parks</a>
                        </li>
                        <li>
                            <a href="http://www.whitewaterworld.com.au/rides">Gold Coast Water Parks</a>
                        </li>
                        <li>
                            <a href="/park-info/whats-on">Holiday Activities</a>
                        </li>
                        <li>
                            <a href="/whats-on">School Holiday Events</a>
                        </li>
                        <li>
                            <a href="/tickets">Queensland Theme Parks</a>
                        </li>
                        <li>
                            <a href="/park-info/about-the-gold-coast">Gold Coast Holidays</a>
                        </li>
                        <li>
                            <a href="/rides/thrill-rides">Big 9 Thrill Rides</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h2>
                                <a href="http://shop.dreamworld.com.au/Tickets" target="_blank">Theme Park Tickets</a>
                            </h2>
                        </li>
                        <li>
                            <a href="http://shop.dreamworld.com.au/Tickets/1day-ticket" target="_blank">Dreamworld Tickets</a>
                        </li>
                        <li>
                            <a href="http://shop.dreamworld.com.au/Tickets/1day-ticket" target="_blank">One Day Tickets</a>
                        </li>
                        <li>
                            <a href="http://shop.dreamworld.com.au/Tickets/season-pass" target="_blank">Season Pass</a>
                        </li>
                        <li>
                            <a href="http://shop.dreamworld.com.au/Tickets/annual-pass" target="_blank">Theme Park Annual Pass</a>
                        </li>
                        <li>
                            <a href="http://shop.dreamworld.com.au/Tickets/" target="_blank">Special Events Tickets</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h2>
                                <a href="/events/venues">Event Venues</a>
                            </h2>
                        </li>
                        <li>
                            <a href="/groups/birthday-parties">Birthday Parties</a>
                        </li>
                        <li>
                            <a href="/events/christmas">Christmas Parties</a>
                        </li>
                        <li>
                            <a href="/groups/corporate-fun">Work Functions</a>
                        </li>
                        <li>
                            <a href="/groups/social-parties">Group Functions</a>
                        </li>
                        <li>
                            <a href="">Team Building</a>
                        </li>
                        <li>
                            <a href="">Wedding Venues</a>
                        </li>
                        <li>
                            <a href="">School Formals</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h2>
                                <a href="/things-to-do/corroboree">Australian Wildlife &amp; Tigers</a>
                            </h2>
                        </li>
                        <li>
                            <a href="/things-to-do/corroboree">Australian Animal Presentation</a>
                        </li>
                        <li>
                            <a href="/things-to-do/corroboree/croc-feeding">Crocodiles &amp; Snakes</a>
                        </li>
                        <li>
                            <a href="/things-to-do/tiger-island">Tiger Island</a>
                        </li>
                        <li>
                            <a href="/things-to-do/corroboree">Koalas &amp; Kangaroos</a>
                        </li>
                        <li>
                            <a href="/things-to-do/corroboree">Outback Adventures</a>
                        </li>
                        <li>
                            <a href="/things-to-do/corroboree">Sheep Show</a>
                        </li>
                        <li>
                            <a href="/things-to-do/corroboree/dreamworld-wildlife-foundation">Adopt An Animal</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h2>
                                <a href="/rides/thrill-rides">Big 9 Thrill Rides</a>
                            </h2>
                        </li>
                        <li>
                            <a href="/rides/thrill-rides/buzzsaw">BuzzSaw</a>
                        </li>
                        <li>
                            <a href="/rides/thrill-rides/the-tower-of-terror-2">Tower Of Terror II</a>
                        </li>
                        <li>
                            <a href="/rides/thrill-rides/the-claw">The Claw</a>
                        </li>
                        <li>
                            <a href="/rides/thrill-rides/the-giant-drop">The Giant Drop</a>
                        </li>
                        <li>
                            <a href="/rides/thrill-rides/wipeout">Wipeout</a>
                        </li>
                        <li>
                            <a href="/rides/thrill-rides/mick-doohans-motocoaster">Motocoaster</a>
                        </li>
                        <li>
                            <a href="/rides/thrill-rides/hot-wheels-sidewinder">Hot Wheels SideWinder</a>
                        </li>
                        <li>
                            <a href="/rides/thrill-rides/pandamonium">Pandamonium</a>
                        </li>
                        <li>
                            <a href="/rides/thrill-rides/tail-spin">Tail Spin</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h2>
                                <a href="/things-to-do/abc-kids-world">ABC KIDS WORLD</a>
                            </h2>
                        </li>
                        <li>
                            <a href="/things-to-do/abc-kids-world">Bananas in Pyjamas</a>
                        </li>
                        <li>
                            <a href="/things-to-do/abc-kids-world">Giggle and Hoot</a>
                        </li>
                        <li>
                            <a href="/things-to-do/abc-kids-world">Play School</a>
                        </li>
                        <li>
                            <a href="/things-to-do/wiggles-world">Wiggles World</a>
                        </li>
                        <li>
                            <a href="/things-to-do/wiggles-world">Meet Dorothy the Dinosaur</a>
                        </li>
                        <li>
                            <a href="/things-to-do/wiggles-world">Meet Captain Feathersword</a>
                        </li>
                        <li>
                            <a href="/things-to-do/wiggles-world">Meet Wags The Dog</a>
                        </li>
                        <li>
                            <a href="/things-to-do/wiggles-world">Meet Henry The Octopus</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="ad-quick-links ad-general-links clearfix">
                <ul class="list-inlined list-unstyled">
                    <li>
                        <a href="/general/sitemap" class="" target=""><span>Sitemap</span></a>
                    </li>
                    <li>
                        <a href="/general/terms-and-conditions" class="" target=""><span>Terms &amp; Conditions</span></a>
                    </li>
                    <li>
                        <a href="/general/privacy-policy" class="" target=""><span> Privacy Policy</span></a>
                    </li>
                    <li>
                        <a href="/general/copyright-and-disclaimer" class="" target=""><span>Copyright &amp; Disclaimer</span></a>
                    </li>
                </ul>
            </div>

            <div class="ad-copyright .col-sm-8 .col-sm-push-2 footer-text clearfix">
                <span style="font-size: 10px;">
                    We acknowledge the traditional Yugambeh Language People of the Gold Coast, and Elders past and present.<br>
                    Kung Fu Panda, Madagascar, Shrek © 2017 DreamWorks Animation LLC.
                </span>
            </div>
        </div>
    </div>

    <script>
        var startDate = new Date(2017, 9, 25, 0, 0);
        var endDate = new Date(2017, 9, 25, 23, 59);
        var today = new Date();

        window.onload = function () {
            if (window.jQuery) {
                changeBtn();
            }
            else {
                setInterval(changeBtn(), 200);
            }
        }
        function changeBtn() {
            clearInterval();
            if (today > startDate && today < endDate) {
                jQuery(".navbar .buy-tickets").css("background-color", "#555");
                jQuery("a.sticky-buy-tickets").css("background-color", "#555");
                jQuery(".buy-tickets-mobile").css("background-color", "#555");
            }
        }
    </script>
</footer>
