<footer id="ad-mod-footer" class="bg-brand-black-panel">
    <div class="ad-social-connect">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="ad-social-icons">
                        <li>
                            <a href="http://www.facebook.com/dreamworld" target="_blank">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li>

                            <a href="http://instagram.com/dreamworldau/" target="_blank">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>

                            <a href="https://twitter.com/dreamworld_au" target="_blank">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </li>
                        <li>

                            <a href="http://www.youtube.com/dreamworldAU" target="_blank">
                                <span class="fa fa-youtube"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://au.linkedin.com/company/dreamworldau" target="_blank">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>
                    </ul>

                    <ul class="ad-quick-links">
                        <li>
                            <a href="/about-us">About us</a>
                        </li>
                        <li>
                            <a href="/affiliate-program">Affiliate program</a>
                        </li>
                        <li>
                            <a href="/contact-us">Contact us</a>
                        </li>
                        <li>
                            <a href="/employment">Employment</a>
                        </li>
                        <li>
                            <a href="/trade-and-media-portal">Trade And Media</a>
                        </li>
                        <li>
                            <a href="/charity">Charity</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="link-list footer-link-list hidden-xs clearfix">
                <div class="link-list-item  col-sm-4 col-md-2">
                    <a href="/park-info/about-the-gold-coast" target=""><span class="link-list-heading">Gold Coast Australia</span></a>
                    <ul class="list-unstyled">
                        <li><a href="/tickets" target=""><span>Gold Coast Theme Parks</span></a></li>
                        <li><a href="http://www.whitewaterworld.com.au/rides" target=""><span>Gold Coast Water Parks</span></a></li>
                        <li><a href="/park-info/whats-on" target=""><span>Holiday Activities</span></a></li>
                        <li><a href="/whats-on" target=""><span>School Holiday Events</span></a></li>
                        <li><a href="/tickets" target=""><span>Queensland Theme Parks</span></a></li>
                        <li><a href="/park-info/about-the-gold-coast" target=""><span>Gold Coast Holidays</span></a></li>
                        <li><a href="/rides/thrill-rides" target=""><span>Big 9 Thrill Rides</span></a></li>
                    </ul>
                </div>
                <div class="link-list-item  col-sm-4 col-md-2">
                    <a href="http://shop.dreamworld.com.au/Tickets" target="_blank"><span class="link-list-heading">Theme Park Tickets</span></a>
                    <ul class="list-unstyled">
                        <li><a href="http://shop.dreamworld.com.au/Tickets/1day-ticket" target="_blank"><span>Dreamworld Tickets</span></a></li>
                        <li><a href="http://shop.dreamworld.com.au/Tickets/1day-ticket" target="_blank"><span>One Day Tickets</span></a></li>
                        <li><a href="http://shop.dreamworld.com.au/Tickets/season-pass" target="_blank"><span>Season Pass</span></a></li>
                        <li><a href="http://shop.dreamworld.com.au/Tickets/annual-pass" target="_blank"><span>Theme Park Annual Pass</span></a></li>
                        <li><a href="http://shop.dreamworld.com.au/Tickets/" target="_blank"><span>Special Events Tickets</span></a></li>
                    </ul>
                </div>
                <div class="link-list-item  col-sm-4 col-md-2">
                    <a href="/events/venues" target=""><span class="link-list-heading">Event Venues</span></a>
                    <ul class="list-unstyled">
                        <li><a href="/groups/birthday-parties" target=""><span>Birthday Parties</span></a></li>
                        <li><a href="/events/christmas" target=""><span>Christmas Parties</span></a></li>
                        <li><a href="/groups/corporate-fun" target=""><span>Work Functions</span></a></li>
                        <li><a href="/groups/social-parties" target=""><span>Group Functions</span></a></li>
                        <li><a href="" target=""><span>Team Building</span></a></li>
                        <li><a href="" target=""><span>Wedding Venues</span></a></li>
                        <li><a href="" target=""><span>School Formals</span></a></li>
                    </ul>
                </div>
                <div class="link-list-item  col-sm-4 col-md-2">
                    <a href="/things-to-do/corroboree" target=""><span class="link-list-heading">Australian Wildlife &amp; Tigers</span></a>
                    <ul class="list-unstyled">
                        <li><a href="/things-to-do/corroboree" target=""><span>Australian Animal Presentation</span></a></li>
                        <li><a href="/things-to-do/corroboree/croc-feeding" target=""><span>Crocodiles &amp; Snakes</span></a></li>
                        <li><a href="/things-to-do/tiger-island" target=""><span>Tiger Island</span></a></li>
                        <li><a href="/things-to-do/corroboree" target=""><span>Koalas &amp; Kangaroos</span></a></li>
                        <li><a href="/things-to-do/corroboree" target=""><span>Outback Adventures</span></a></li>
                        <li><a href="/things-to-do/corroboree" target=""><span>Sheep Show</span></a></li>
                        <li><a href="/things-to-do/corroboree/dreamworld-wildlife-foundation" target=""><span>Adopt An Animal</span></a></li>
                    </ul>
                </div>
                <div class="link-list-item  col-sm-4 col-md-2">
                    <a href="/rides/thrill-rides" target=""><span class="link-list-heading">Big 9 Thrill Rides</span></a>
                    <ul class="list-unstyled">
                        <li><a href="/rides/thrill-rides/buzzsaw" target=""><span>BuzzSaw</span></a></li>
                        <li><a href="/rides/thrill-rides/the-tower-of-terror-2" target=""><span>Tower Of Terror II</span></a></li>
                        <li><a href="/rides/thrill-rides/the-claw" target=""><span>The Claw</span></a></li>
                        <li><a href="/rides/thrill-rides/the-giant-drop" target=""><span>The Giant Drop</span></a></li>
                        <li><a href="/rides/thrill-rides/wipeout" target=""><span>Wipeout</span></a></li>
                        <li><a href="/rides/thrill-rides/mick-doohans-motocoaster" target=""><span>Motocoaster</span></a></li>
                        <li><a href="/rides/thrill-rides/hot-wheels-sidewinder" target=""><span>Hot Wheels SideWinder</span></a></li>
                        <li><a href="/rides/thrill-rides/pandamonium" target=""><span>Pandamonium</span></a></li>
                        <li><a href="/rides/thrill-rides/tail-spin" target=""><span>Tail Spin</span></a></li>
                    </ul>
                </div>
                <div class="link-list-item  col-sm-4 col-md-2">
                    <a href="/things-to-do/abc-kids-world" target=""><span class="link-list-heading">ABC KIDS WORLD</span></a>
                    <ul class="list-unstyled">
                        <li><a href="/things-to-do/abc-kids-world" target=""><span>Bananas in Pyjamas</span></a></li>
                        <li><a href="/things-to-do/abc-kids-world" target=""><span>Giggle and Hoot</span></a></li>
                        <li><a href="/things-to-do/abc-kids-world" target=""><span>Play School</span></a></li>
                        <li><a href="/things-to-do/wiggles-world" target=""><span>Wiggles World</span></a></li>
                        <li><a href="/things-to-do/wiggles-world" target=""><span>Meet Dorothy the Dinosaur</span></a></li>
                        <li><a href="/things-to-do/wiggles-world" target=""><span>Meet Captain Feathersword</span></a></li>
                        <li><a href="/things-to-do/wiggles-world" target=""><span>Meet Wags The Dog</span></a></li>
                        <li><a href="/things-to-do/wiggles-world" target=""><span>Meet Henry The Octopus</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="ad-quick-links ad-general-links clearfix">
                <ul class="list-inlined list-unstyled">
                    <li>
                        <a href="/general/sitemap" class="" target=""><span>Sitemap</span></a>
                    </li>
                    <li>
                        <a href="/general/terms-and-conditions" class="" target=""><span>Terms &amp; Conditions</span></a>
                    </li>
                    <li>
                        <a href="/general/privacy-policy" class="" target=""><span> Privacy Policy</span></a>
                    </li>
                    <li>
                        <a href="/general/copyright-and-disclaimer" class="" target=""><span>Copyright &amp; Disclaimer</span></a>
                    </li>
                </ul>
            </div>

            <div class="ad-copyright .col-sm-8 .col-sm-push-2 footer-text clearfix">
                <span style="font-size: 10px;">
                    We acknowledge the traditional Yugambeh Language People of the Gold Coast, and Elders past and present.<br>
                    Kung Fu Panda, Madagascar, Shrek © 2017 DreamWorks Animation LLC.
                </span>
            </div>
        </div>
    </div>

    <script>
        var startDate = new Date(2017, 9, 25, 0, 0);
        var endDate = new Date(2017, 9, 25, 23, 59);
        var today = new Date();

        window.onload = function () {
            if (window.jQuery) {
                changeBtn();
            }
            else {
                setInterval(changeBtn(), 200);
            }
        }
        function changeBtn() {
            clearInterval();
            if (today > startDate && today < endDate) {
                jQuery(".navbar .buy-tickets").css("background-color", "#555");
                jQuery("a.sticky-buy-tickets").css("background-color", "#555");
                jQuery(".buy-tickets-mobile").css("background-color", "#555");
            }
        }
    </script>
</footer>
