<style>
    #find-right-ticket {
        text-align:center;
    }

    #find-right-ticket h1 {
        font-family: 'Amsi Pro Black';
        font-size: 40px;
        color: #2A3037;
    }

    .slick-ticket-content {
        background-color: #ffffff;
        width: 250px;
    }

    .slick-ticket-container{
        margin-left: 100px;
        margin-right: 100px;
    }
    

</style>
<section id="find-right-ticket" class="">
    <h1>Help me find the right ticket</h1>

    <div class="slick-ticket-container">
        <div class="help-me-slick">
            <div class="slick-ticket-content">                
                <h2>Exclusive Offer</h2>
                <h3>Buy 3 and get the forth pass free</h3>
                <img src="/Content/images/HelpMeFindTheRightTicket/icon_ticket_season pass.svg" width="100"/>
                <p><span>From</span>$7400</p>
                <p>Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                <p>Until 30 June2018</p>
                <a href="#">Select</a>
            </div>
            <div class="slick-ticket-content">                
                <img src="/Content/images/HelpMeFindTheRightTicket/icon_ticket_annual pass.svg" width="100" />                
                <p><span>From</span>$10900</p>
                <p>Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                <p>For 12 months from first visit</p>
                <a href="#">Select</a>
            </div>            
            <div class="slick-ticket-content">
                <h2>Exclusive Offer</h2>
                <h3>Buy 3 and get the forth pass free</h3>
                <img src="/Content/images/HelpMeFindTheRightTicket/icon_ticket_season pass.svg" width="100" />
                <p><span>From</span>$7400</p>
                <p>Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                <p>Until 30 June2018</p>
                <a href="#">Select</a>
            </div>
            <div class="slick-ticket-content">
                <img src="/Content/images/HelpMeFindTheRightTicket/icon_ticket_annual pass.svg" width="100" />
                <p><span>From</span>$10900</p>
                <p>Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                <p>For 12 months from first visit</p>
                <a href="#">Select</a>
            </div>            
        </div>
    </div>

</section>