<section id="find-right-ticket" class="">
    <h1>Help me find the right ticket</h1>

    <div class="ticket-group-menu">
        <ul>
            <li><a href="#">Tickets</a></li>
            <li><a class="selected" href="#">Passes</a></li>
            <li><a href="#">Packages</a></li>
        </ul>
    </div>

    <div class="slick-ticket-container">
        <div class="help-me-slick">
            <div class="ticket" style="background-color: #C11D33">
                <div class="ticket-heading" style="background-color: #C11D33">
                    <h2>Exclusive offer:</h2>
                    <h3>Buy 3 and get forth pass free</h3>
                </div>
                <div class="ticket-content">
                    <div class="ticket-image clearfix">
                        <img src="~/Content/images/HelpMeFindTheRightTicket/icon_ticket_season pass.svg" width="120" />
                        <p><span>From</span><br />$7400</p>
                    </div>
                    <div class="ticket-data">
                        <p class="ticket-description">Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                        <p class="ticket-date" style="color: #C11D33">Until 30 June2018</p>
                        <div class="button" style="background-color: #C11D33">
                            <a href="#">Select</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ticket" style="background-color: #4E20A1">
                <div class="ticket-heading" style="background-color: #4E20A1">
                    <h2>Exclusive offer:</h2>
                    <h3>Buy 3 and get forth pass free</h3>
                </div>
                <div class="ticket-content">
                    <div class="ticket-image clearfix">
                        <img src="~/Content/images/HelpMeFindTheRightTicket/icon_ticket_annual pass.svg" width="120" />
                        <p><span>From</span><br />$10900</p>
                    </div>
                    <div class="ticket-data">
                        <p class="ticket-description">Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                        <p class="ticket-date" style="color: #4E20A1">Until 30 June2018</p>
                        <div class="button" style="background-color: #4E20A1">
                            <a href="#">Select</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ticket" style="background-color: #C11D33">
                <div class="ticket-heading" style="background-color: #C11D33">
                    <h2>Exclusive offer:</h2>
                    <h3>Buy 3 and get forth pass free</h3>
                </div>
                <div class="ticket-content">
                    <div class="ticket-image clearfix">
                        <img src="~/Content/images/HelpMeFindTheRightTicket/icon_ticket_season pass.svg" width="120" />
                        <p><span>From</span><br />$7400</p>
                    </div>
                    <div class="ticket-data">
                        <p class="ticket-description">Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                        <p class="ticket-date" style="color: #C11D33">Until 30 June2018</p>
                        <div class="button" style="background-color: #C11D33">
                            <a href="#">Select</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ticket" style="background-color: ##4E20A1">
                <div class="ticket-heading">
                    
                </div>
                <div class="ticket-content">
                    <div class="ticket-image clearfix">
                        <img src="~/Content/images/HelpMeFindTheRightTicket/icon_ticket_annual pass.svg" width="120" />
                        <p><span>From</span><br />$10900</p>
                    </div>
                    <div class="ticket-data">
                        <p class="ticket-description">Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                        <p class="ticket-date" style="color: ##4E20A1">Until 30 June2018</p>
                        <div class="button" style="background-color: #4E20A1">
                            <a href="#">Select</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>