<style>
    #find-right-ticket {

    }

    .slick-ticket-content {
        background-color: #ffffff;
        width: 500px;
    }
</style>
<section id="find-right-ticket" class="">
    <h1>Help me find the right ticket</h1>

    <div class="slick-ticket" max-width="1080px">
        <div class="the-slick">
            <div class="slick-ticket-content">                
                <h1>Exclusive Offer</h1>
                <h2>Buy 3 and get the forth pass free</h2>
                <img src="/Content/images/HelpMeFindTheRightTicket/icon_ticket_season pass.svg" />
                <p><span>From</span>$7400</p>
                <p>Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                <p>Until 30 June2018</p>
                <a href="#">Select</a>
            </div>
            <div class="slick-ticket-content">                
                <img src="/Content/images/HelpMeFindTheRightTicket/icon_ticket_annual pass.svg" />                
                <p><span>From</span>$10900</p>
                <p>Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                <p>For 12 months from first visit</p>
                <a href="#">Select</a>
            </div>            
            <div class="slick-ticket-content">
                <h1>Exclusive Offer</h1>
                <h2>Buy 3 and get the forth pass free</h2>
                <img src="/Content/images/HelpMeFindTheRightTicket/icon_ticket_season pass.svg" />
                <p><span>From</span>$7400</p>
                <p>Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                <p>Until 30 June2018</p>
                <a href="#">Select</a>
            </div>
            <div class="slick-ticket-content">
                <img src="/Content/images/HelpMeFindTheRightTicket/icon_ticket_annual pass.svg" />
                <p><span>From</span>$10900</p>
                <p>Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck</p>
                <p>For 12 months from first visit</p>
                <a href="#">Select</a>
            </div>            
        </div>
    </div>

</section>