<section id="live-at-dreamworld" class="">
    @*<div class="container">
        <div class="row">
            <div class="col-sm-12">*@
                <div class="col-sm-12-dw">
                    <h1>LIVE &#x40;DREAMWORLD</h1>

                    <div id="instagram-container">
                        <div class="instagram-images">
                            <div class="instagram-image" style="background-image:url(/Content/images/LiveAtDreamworld/instagram-image-01.jpg)">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                            <div class="instagram-image" style="background-image:url(/Content/images/LiveAtDreamworld/instagram-image-02.jpg)">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                            <div class="instagram-image" style="background-image:url(/Content/images/LiveAtDreamworld/instagram-image-03.jpg)">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                            <div class="instagram-image" style="background-image:url(/Content/images/LiveAtDreamworld/instagram-image-04.jpg)">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                            <div class="instagram-image">
                                <p>
                                    <i class="icon-icon_circle-arrow-right"></i><br />
                                    See more<br />
                                    shared adventures!<br />
                                    <i>&#x23;Dreamworld</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            @*</div>
        </div>
    </div>*@
</section>


<script>
    $("#instagram-container").height($("#instagram-container").width() * 0.20);
    $(window).resize(function (event) {
        $("#instagram-container").height($("#instagram-container").width() * 0.20);
    })
</script>
