<style>
    #live-at-dreamworld {
        background-color: greenyellow;
        height: 200px;
    }

    .instagram-icon{
        height: 5px;
    }
</style>

<section id="live-at-dreamworld" class="">
    <h1>LIVE @@DREAMWORLD</h1>
    <img class="instagram-icon" src="~/Content/images/LiveAtDreamworld/icon_instagram.svg" />
</section>
