<style>
    #live-at-dreamworld {
        padding-left: 100px;
        padding-right: 100px;
        overflow: hidden;
        text-align:center;
    }

    .instagram-icon{
        height: 5px;
    }

    #instagram-container{
        width: 100%;
        float:left;
    }

    .instagram-images{
        width: 75%;
        height:100%;
        float:left;
    }
    .instagram-image{
        width: 33.33%;
        background-size:cover;
            height:100%;
            float:left;
    }
    .instagram-message {
        width: 25%;
        border: solid 1px black;
        float:left;
        height:100%;
        background-color: #4E20A1;
    }

    h1 {
        font-size: 25px;
        color: #0091D5;
        font-family: 'Amsi Pro Black';
    }
</style>

<section id="live-at-dreamworld" class="">
    <h1>LIVE @@DREAMWORLD</h1>

    <div id="instagram-container">
        <div class="instagram-images">
            <div class="instagram-image" style="background-image:url(/Content/images/LiveAtDreamworld/instagram-image-01.jpg)"></div>
            <div class="instagram-image" style="background-image:url(/Content/images/LiveAtDreamworld/instagram-image-02.jpg)"></div>
            <div class="instagram-image" style="background-image:url(/Content/images/LiveAtDreamworld/instagram-image-03.jpg)"></div>
        </div>
        <div class="instagram-message">
            INstagrame
        </div>
    </div>


</section>

