@model DreamworldHomepage.ViewModels.NavigationViewModel

<div id="nav-container">
    <div class="container">
        <nav id="main-menu">
            <ul>
                <li>
                    <a href="">PARK INFO</a>
                    <div class="mega-menu-container">
                        <ul>
                            <li><a href="#">Tickets and Passes</a></li>
                            <li><a href="#">Passholder Benefits</a></li>
                            <li><a href="#">Membership Benefits</a></li>
                            <li><a href="#">Holiday Deals</a></li>
                            <li>
                                <a href="#">Whats On</a>
                                <ul>
                                    <li><a href="#">Festive Street Market</a></li>
                                    <li><a href="#">Park After dark</a></li>
                                    <li><a href="#">Christmas at Dreamworld</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul>
                            <li><a href="#">Download Park Map</a></li>
                            <li><a href="#">Opening Hours</a></li>
                            <li><a href="#">Getting Here</a></li>
                            <li><a href="#">Ride Height Limits</a></li>
                            <li><a href="#">Ride Express &ndash; Avoid the Queue</a></li>
                            <li><a href="#">Pure Imagination</a></li>
                        </ul>

                        <ul>
                            <li><a href="#">Maintenance</a></li>
                            <li><a href="#">Services and Facilities</a></li>
                            <li><a href="#">Guests with Disability</a></li>
                            <li><a href="#">Community Outreach &ndash; Support</a></li>
                            <li><a href="#">Wildlife Foundation</a></li>
                            <li><a href="#">Ride Safety</a></li>
                        </ul>

                        <ul>
                            <li><a href="#">Skypoint &amp; Above the Gold Coast</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="">RIDES</a>
                    <div class="mega-menu-container">
                        <ul>
                            <li>
                                <a href="#">Big 9 Thrill Rides</a>
                                <ul>
                                    <li><a href="#">Hot Wheels SideWinder</a></li>
                                    <li><a href="#">Tower of Terror II</a></li>
                                    <li><a href="#">BuzzSaw</a></li>
                                    <li><a href="#">WipeOut</a></li>
                                    <li><a href="#">The Claw</a></li>
                                    <li><a href="#">The Giant Drop</a></li>
                                    <li><a href="#">Pandamonium</a></li>
                                    <li><a href="#">Mick Doohan's Motocoaster</a></li>
                                    <li><a href="#">Tail Spin</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <a href="#">Kids Rides</a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Dorothy's Rosy Tea Cup Ride
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Big Red Car Ride
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Big Red Boat Ride
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Hop and Hoot
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Shrek's Ogre&ndash;Go&ndash;Round
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Dronkey Flyers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Puss in Boots Sword Swing
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            ABC KIDS WORLD Fun Spot
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Bananas in Pyjamas Fun Maze
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Giggle and Hoot Pirate Ship
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Play School Art Room

                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <a href="#">Whitewater World</a>
                                <ul>
                                    <li><a href="#">Cave of Waves</a></li>
                                    <li><a href="#">Pipeline Plunge</a></li>
                                    <li><a href="#">Super Tubes Hydro Coaster</a></li>
                                    <li><a href="#">Wiggle Bay</a></li>
                                    <li><a href="#">Temple of Huey</a></li>
                                    <li><a href="#">The Little Rippers</a></li>
                                    <li><a href="#">Tripl Vortex</a></li>
                                    <li><a href="#">The Green Room</a></li>
                                    <li><a href="#">The Wedgie</a></li>
                                    <li><a href="#">The RIP</a></li>
                                    <li><a href="#">The BRO</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <a href="#">Family Rides</a>
                                <ul>
                                    <li><a href="#">Shockwave</a></li>
                                    <li><a href="#">Escape from Madagascar</a></li>
                                    <li><a href="#">Rocky Hollow Log Ride</a></li>
                                    <li><a href="#">Gingy's Glider</a></li>
                                    <li><a href="#">Vintage Cars</a></li>
                                    <li><a href="#">Mad Jungle Jam</a></li>
                                    <li><a href="#">Skadoosh Bumper Cars</a></li>
                                    <li><a href="#">Dreamworld Express</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Ride Height Limits</a>
                            </li>
                            <li>
                                <a href="#">Ride Maintenance</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="">ATTRACTIONS</a></li>
                <li><a href="">GROUP EVENTS</a></li>
                <li><a href="">FOOD &amp; SHOPPING</a></li>
                <li><a href="">SCHOOLS</a></li>
                <li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
            </ul>
        </nav>
    </div>
</div>

<script>
    $(function () {

    });
</script>
