@model DreamworldHomepage.ViewModels.NavigationViewModel

<div id="nav-container">
    <div id="main-navigation">
        <div id="logo">
            <img src="~/Content/images/Navigation/Dreamworld_logo.svg" alt="Dreamworld logo"/>
        </div>
        <div id="main-menu">
            <ul>
                <li><a href="">PARK INFO</a>
                    <div class="menu-sub">
                        <div>
                            <ul>
                                <li>Park Info 1</li>
                                <li>Park Info 2</li>
                                <li>Park Info 3</li>
                                <li>Park Info 4</li>
                                <li>Park Info 5</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li>Park Info 1</li>
                                <li>Park Info 2</li>
                                <li>Park Info 3</li>
                            </ul>
                        </div>

                    </div>
                </li>
                <li><a href="">RIDES</a>
                    <div class="menu-sub">
                        <div class="sub-menu-items">
                            <ul>
                                <li>Rides 1</li>
                                <li>Rides 2</li>
                                <li>Rides 3</li>
                                <li>Rides 4</li>
                                <li>Rides 5</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li>Rides 1</li>
                                <li>Rides 2</li>
                                <li>Rides 3</li>
                            </ul>
                        </div>

                    </div>
                </li>
                <li><a href="">ATTRACTIONS</a></li>
                <li><a href="">GROUP EVENTS</a></li>
                <li><a href="">FOOD &amp; SHOPPING</a></li>
                <li><a href="">SCHOOLS</a></li>
                <li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div id="button-container">

            <div id="button">
                <a href="#">BUY TICKETS</a>
            </div>
        </div>
    </div>
    <div id="search-container">

    </div>
</div>

<script>
    $(function () {

        var defaultColor = 'transparent';
        
        $('#main-menu').hover(function () {
            $('#nav-container').css('background-color', '#2A3037');
        }, function () {
            // on mouseout, reset the background colour
            $('#nav-container').css('background-color', defaultColor);
        });

        $(window).scroll(function (event) {
            if ($(window).scrollTop() > 0) {
                defaultColor = '#2A3037';

                $('#nav-container').css({
                    'background-color': defaultColor,
                    'height' : '80px'
                    });

                $('#logo img').css({
                    'height': '80px'
                });

                $('#button-container').css({
                    'height': '80px'
                });

                $('#main-menu').css({
                    'height': '80px',
                    'line-height': '80px'
                });
            }
            else {
                defaultColor = 'transparent';

                $('#nav-container').css({
                    'background-color': defaultColor,
                    'height': '160px'
                });

                $('#logo img').css({
                    'height': '160px'
                });

                $('#button-container').css({
                    'height': '160px'
                });

                $('#main-menu').css({
                    'height': '160px',
                    'line-height':'160px'
                });


            }
        });
    });
</script>
