@model DreamworldHomepage.ViewModels.NavigationViewModel
<h1>Navigation</h1>

@{
    <ul>
        @foreach(var item in Model.MenuItems)
        {
            <li>@item.Text</li>
        }
    </ul>
}
