@model DreamworldHomepage.ViewModels.NavigationViewModel

<style>
    nav {
        position: fixed;
    }
</style>

<nav>
    @{
        <ul>
            @foreach (var item in Model.MenuItems)
            {
                <li>@item.Text</li>
            }
        </ul>
    }
</nav>
