<style>
    #park-information {

    }

    #park-information-content {
        width: 60%;
        overflow: auto;
    }

    #park-information-content > p {
        font-family: 'Amsi Pro';
        text-align: center;
        font-size: 25px;
        color: #0091D5;
        margin: 80px 0;
        padding: 0;
        line-height: 25px;
    }

    #park-information-content > p span{
        font-weight: bold;
    }

    .information-items{

    }

    .information-item {
        margin: 0;
        font-family: 'Amsi Pro';
        width: 33.33%;
        float: left;      
        display: table;
            
    }

    .information-item > img{
        height: 50px;
        float: left;      
    }

    .information-item p {
        color: #0091D5;
        margin: auto 0;
        display: table-cell; 
        vertical-align: middle;
    }

</style>

<section id="park-information">
    <div id="park-information-content">
        <p><span>Open now</span> until 6:30am</p>
        <div class="information-items clearfix">
            <div class="information-item clearfix">
                <img src="~/Content/images/ParkInformation/icon_directions.svg" />
                <p>Get Directions</p>
            </div>
            <div class="information-item ">
                <img src="~/Content/images/ParkInformation/icon_ride height.svg" />
                <p>Check Ride<br />Height Limits</p>
            </div>
            <div class="information-item">
                <img src="~/Content/images/ParkInformation/icon_park map.svg" />
                <p>Download<br />Park Map</p>
            </div>
        </div>
    </div>
</section>