@model DreamworldHomepage.ViewModels.ParkUpdatesViewModel

<style>
    #park-updates {
        
        background-color: #EAEAEA;
        position: relative;
    }

    #park-updates h1 {
        font-family: 'Amsi Pro';
        color: #4E20A1;
        font-size: 12pt;
    }

    #park-updates h2 {
        font-family: 'Amsi Pro';
        color: #000;
        font-size: 12pt;
    }

    #park-updates h3 {
        font-family: 'Amsi Pro';
        color: #000;
        font-size: 16pt;
    }

    .park-updates-slick-container {
        margin-left: 100px;
        margin-right: 100px;
        background-color: green;
    }
    
    .park-updates-slick .slick-slide {
        background-color: #EAEAEA;
        border: solid red 1px;
        padding-left: 10px;
        height:250px;

    }

    #update-left, #update-right {
        background-color: #4E20A1;
    }
</style>

@{
    <section id="park-updates">
        <div style="width:100%">
            <div id="update-left" class="carousel-button left">Left</div>
            <div id="update-right" class="carousel-button right">Right</div>

            <div class="park-updates-slick-container">
                <div class="park-updates-slick">
                    @foreach (var item in Model.Items)
                    {
                        <div style="width: 200px">
                            <h1>@item.Title</h1>
                            <h2>@item.Datetext</h2>
                            <h3>@item.Description</h3>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}