@model DreamworldHomepage.ViewModels.ParkUpdatesViewModel

<style>
    #park-updates {
        background-color: #EAEAEA;
        padding-bottom: 80px;
    }

        .park-updates-slick .slick-slide {
            background-color: #EAEAEA;
            border: solid black 1px;
            width: 200px;
            margin-left: 20px;
            padding-left: 20px;
        }

        #park-updates h1 {
            color: #4E20A1;
            font-size: 12pt;
        }

        #park-updates h2 {
            color: #000;
            font-size: 12pt;            
        }

        #park-updates h3 {
            color: #000;
            font-size: 16pt;            
        }

        .park-updates-slick-container{
            margin-left: 100px;
            margin-right: 100px;
            background-color: green;
        }

        .carousel-button {
            height: 70px;
            width: 70px;
            background-color: #0091d5;
            position: absolute;
            top: 50%;
            /*transform: translate(0%,-75%);*/
            cursor: pointer;
        }
</style>

@{
    <section id="park-updates">
        <div id="update-left" class="carousel-button left">Left</div>
        <div id="update-right" class="carousel-button right">Right</div>

        <div class="park-updates-slick-container">
            <div class="park-updates-slick">
                @foreach (var item in Model.Items)
                {
                    <div>                        
                        <h1>@item.Title</h1>
                        <h2>@item.Datetext</h2>
                        <h3>@item.Description</h3>                        
                    </div>
                }
            </div>
        </div>
    </section>
}