@model DreamworldHomepage.Models.Pricing.TicketOffice

<style>
    #park-pricing {
        height: 200px;
        background-color: hotpink;
    }
</style>

<section id="park-pricing">
    <h1>Park Pricing</h1>
</section>