@model DreamworldHomepage.ViewModels.ParkUpdatesViewModel

<section id="park-updates">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="left carousel-nav">
                    <span class="icon-icon_arrow-left"></span>
                </button>

                <button type="button" class="right carousel-nav">
                    <span class="icon-icon_arrow-right"></span>
                </button>

                <div class="park-updates-slick-container">
                    <div class="park-updates-slick">
                        @foreach (var item in Model.Items)
                        {
                            <div>
                                <span class="heading">
                                    @item.Title
                                </span>
                                <span class="date">
                                    @item.Datetext
                                </span>
                                <p>
                                    @item.Description
                                </p>
                            </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $(".park-updates-slick")
            .slick({
                infinite: false, slidesToShow: 3, slidesToScroll: 1, dots: true,
                centerPadding: 0,
                prevArrow: $("#park-updates .left"),
                nextArrow: $("#park-updates .right")
            });
    });
</script>
