@model DreamworldHomepage.ViewModels.ParkUpdatesViewModel

<section id="park-updates">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" id="update-left" class="carousel-nav">
                    <span class="icon-icon_arrow-left"></span>
                </button>
                
                <button type="button" id="update-right" class="carousel-nav">
                    <span class="icon-icon_arrow-right"></span>
                </button>

                <div class="park-updates-slick-container">
                    <div class="park-updates-slick">
                        @foreach (var item in Model.Items)
                        {
                            <div style="width: 200px; padding:25px">
                                <h1>
                                    @item.Title
                                </h1>
                                <span class="date">
                                    @item.Datetext
                                </span>
                                <p>
                                    @item.Description
                                </p>
                            </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
