<section id="sign-up" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="sign-up-content">
                    <div id="sign-up-heading">
                        <h1>SIGN UP FOR SPECIAL OFFERS AND THEME PARK UPDATES <i id="sign-up-button" class="icon-icon_circle-arrow-down"></i></h1>
                    </div>
                    <div id="sign-up-form">
                        <p>We need this information to help us keep in contact and find the best offers for you</p>

                        <input class="dw-input" type="text" placeholder="Full Name" />
                        <input class="dw-input" type="text" placeholder="Date of birth(e.g. 10/09/1998)" />
                        <input class="dw-input" type="email" placeholder="Suburb/Postcode" />
                        <input class="dw-input" type="text" placeholder="Country" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(window).on(function () {
        $('#sign-up-button').on('click', function () {
            $('#sign-up-button').css('display', 'block');
        })
    });
</script>