@model DreamworldHomepage.ViewModels.WhatsGoingOnViewModel
<section id="whats-going-on">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="what-left" class="carousel-button left"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                <div id="what-right" class="carousel-button right"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>

                <div id="whats-going-on-heading">
                    <h1>What's going on?</h1>
                </div>
                
                <div id="whats-going-on-slick-container">
                    

                    <div id="whats-going-on-slick">
                        @foreach (var item in Model.Items)
                        {
                            <div class="slick-content">
                                <div class="slick-card">
                                    <img src="@item.Image" />                                
                                    <h2>@item.DateText</h2>
                                    <h3 style="color:@item.Color">@item.Title</h3>                                
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {

        var numcards = $('#whats-going-on-slick .slick-content').length;        

        $('#whats-going-on-slick').slick({
            arrows: false,
            infinite: false,
            slidesToShow: 4,
            slidesToScroll: 1,
            dots: false,
            centerMode: true,
            centerPadding: "0px",
            initialSlide: 2,
            variableWidth: false,
        });

        $("#what-right").click(function () {
            $('#whats-going-on-slick').slick("slickNext");
        });

        $("#what-left").click(function () {
            $('#whats-going-on-slick').slick("slickPrev");
        });
    });
</script>



