<section class="component">
    <div class="slick-container">
        <div class="the-slick">
            <div class="slick-content">
                <img src="~/Content/images/WhatsGoingOn/carousel_whats-on_1.jpg" width="200" />
            </div>
            <div class="slick-content">
                <img src="~/Content/images/WhatsGoingOn/carousel_whats-on_2.jpg" width="200" />
            </div>
            <div class="slick-content">
                <img src="~/Content/images/WhatsGoingOn/carousel_whats-on_3.jpg" width="200" />
            </div>
            <div class="slick-content">
                <img src="~/Content/images/WhatsGoingOn/carousel_whats-on_4.jpg" width="200" />
            </div>
        </div>
    </div>
</section>