@model DreamworldHomepage.ViewModels.WhatsGoingOnViewModel
<section id="whats-going-on">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <button id="what-left" type="button" class="left carousel-nav">
                    <span class="icon-icon_arrow-left"></span>
                </button>

                <button id="what-right" type="button" class="right carousel-nav">
                    <span class="icon-icon_arrow-right"></span>
                </button>

                <div id="whats-going-on-heading">
                    <h1>What's going on?</h1>
                </div>
                
                <div id="whats-going-on-slick-container">
                    <div id="whats-going-on-slick">
                        @foreach (var item in Model.Items)
                        {
                            <div class="slick-content">
                                <div class="slick-card">
                                    <img src="@item.Image" />                                
                                    <span>@item.DateText</span>
                                    <h2 style="color:@item.Color">@item.Title</h2>                                
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {

        var numcards = $('#whats-going-on-slick .slick-content').length;        

        $('#whats-going-on-slick').slick({
            infinite: false,
            slidesToShow: 4,
            slidesToScroll: 1,
            dots: true,
            centerMode: true,
            centerPadding: "0px",
            initialSlide: 2,
            variableWidth: false,
            prevArrow: $("#what-left"),
            nextArrow: $("#what-right")
        });        
    });
</script>



