@model DreamworldHomepage.ViewModels.YourFavouriteDreamworldExperiencesViewModel

<section id="fav-experiences" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>@Model.Title</h1>

                <div id="collage-container" style="">
                    <div id="collage-lg-0" class="collage-lg collage-img"></div>
                    <div id="collage-lg-1" class="collage-lg collage-img"></div>

                    <div id="collage-md-0" class="collage-md collage-img"></div>
                    <div id="collage-md-1" class="collage-md collage-img"></div>

                    <div id="collage-sm-0" class="collage-sm collage-img"></div>
                    <div id="collage-sm-1" class="collage-sm collage-img"></div>
                    <div id="collage-sm-2" class="collage-sm collage-img"></div>
                    <div id="collage-sm-3" class="collage-sm collage-img"></div>
                    <div id="collage-sm-4" class="collage-sm collage-img"></div>
                </div>
            </div>
        </div>
    </div>
</section>
