#ad-mod-footer {
    background-color: #EAEAEA;

    .ad-social-connect {
        border-bottom: 1px solid #D3D3D3;
        text-align: center;
        padding: 45px 40px 40px;

        @include view-mobile() {
            padding: 0;
            border-bottom: none;
        }

        .ad-social-icons {
            display: block;
            padding: 0;
            margin: 0 0 35px;

            @include view-mobile() {
                display: flex;
                border-bottom: 1px solid #D3D3D3;
                margin-left: -15px;
                margin-right: -15px;
            }

            li {
                list-style-type: none;
                display: inline-block;

                @include view-mobile() {
                    flex-grow: 1;

                    &:last-child {
                        a {
                            border-right: none;
                        }
                    }
                }

                a {
                    font-size: 20px;
                    line-height: 45px;
                    color: #3a3a3a;
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    border: 1px solid #3a3a3a;
                    border-radius: 50%;
                    margin: 0 20px;

                    @include view-mobile() {
                        width: 100%;
                        border-radius: 0;
                        border: none;
                        border-right: 1px solid #D3D3D3;
                        height: 64px;
                        line-height: 64px;
                        margin: 0;
                    }

                    &:hover, &:focus {
                        border-color: $red;
                        color: $red;

                        @include view-mobile() {
                            border-color: #D3D3D3;
                            color: #3a3a3a;
                            background-color: #D3D3D3;
                        }
                    }
                }
            }
        }

        .ad-quick-links {
            display: block;
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                display: inline-block;

                @include view-mobile {
                    display: block;
                    text-align: left;
                }

                a {
                    font-family: $amsi-bold;
                    font-size: 14px;
                    line-height: 14px;
                    color: #3a3a3a;
                    margin: 0 10px;
                    display: inline-block;

                    @include view-mobile() {
                        margin: 0;
                        display: block;
                        line-height: 35px;
                    }
                }
            }
        }
    }

    .ad-main-link {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        line-height: 20px;
        justify-content: space-between;
        margin-bottom: 80px;
        flex-flow: row wrap;
        padding-top: 75px;

        @include view-tablet() {
            padding-top: 60px;
            margin-bottom: 15px;
        }

        @include view-mobile() {
            display: none;
        }

        h2 {
            line-height: 12px;

            a {
                font-size: 12px;
                line-height: 20px;
                font-family: $amsi-bold;
            }
        }

        ul {
            padding: 0;
            margin: 0;

            @include view-tablet() {
                flex-basis: 33.333%;
                padding-bottom: 50px;
            }

            li {
                list-style-type: none;

                a {
                    color: #3a3a3a;
                }
            }
        }
    }

    .ad-general-links {
        color: #777777;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        padding-bottom: 60px;

        @include view-mobile {
            font-size: 14px;
            line-height: 35px;
            padding-bottom: 35px;
        }

        p {
            margin: 0 auto;
            padding: 0;
            max-width: 550px;

            @include view-mobile() {
                display: none;
            }
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                display: inline-block;
                margin-left: 7px;
                margin-right: 7px;
                text-transform: uppercase;

                @include view-mobile {
                    text-transform: none;
                    margin-left: 0;
                    margin-right: 0;
                    display: block;
                    text-align: left;
                }

                a {
                    color: #777777;
                    font-family: $amsi-bold;
                }
            }
        }
    }
}
