#live-at-dreamworld {
    overflow: hidden;
    text-align: center;

    h1 {
        font-size: 25px;
        line-height: 25px;
        color: $blue;
        font-family: 'Amsi Pro Black';
        padding-bottom: 30px;
    }

    .col-sm-12-dw {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;

        #instagram-container {
            /*width: 1280px;*/
            width: 100%;
            float: left;
            color: #ffffff;

            .instagram-images {
                text-align: left;
                width: 100%;
                height: 100%;
                float: left;
            }

            .instagram-image {
                width: 20%;
                background-size: cover;
                height: 100%;
                float: left;
                font-size: 22px;
                line-height: 22px;
                padding-left: 15px;
                padding-top: 15px;
            }

            font-family: $amsi-black;

            .instagram-image:last-child {
                padding: 0;
                padding-top: 60px;
                text-align: center;
                background-color: $purple;
                p {
                    cursor: pointer;
                    font-size: 20px;
                    line-height: 22px;

                    i.icon-icon_circle-arrow-right {
                        font-size: 40px;
                    }

                    i {
                        font-size: 16px;
                        line-height: 26px;
                        font-family: 'Helvetica LT Std';
                    }
                }
            }
        }
    }
}
