#park-updates {
    background-color: #EAEAEA;
    position: relative;

    .heading {
        font-family: $amsi;
        color: $purple;
        line-height: 12px;
        font-size: 12px;
        font-weight: 400;
        margin: 0 0 35px;
        text-transform: uppercase;
        display: block;
    }

    .date {
        font-family: $amsi;
        color: #0A0A0A;
        font-size: 12px;
        line-height: 12px;
        display: block;
        margin-bottom: 10px;
    }

    p {
        font-family: $amsi;
        color: #0A0A0A;
        font-size: 16px;
        line-height: 24px;
    }

    .park-updates-slick-container {
        &:after {
            content: ' ';
            display: block;
            height: 100%;
            width: 2px;
            background-color: #eaeaea;
            position: absolute;
            top: 0;
            right: -1px;
        }
    }

    .park-updates-slick .slick-slide {
        padding: 40px 30px;
        background-color: #EAEAEA;
        height: 250px;
        border-right: 1px solid white;
    }

    .carousel-nav {
        width: 70px;
        height: 70px;
        font-size: 70px;
        line-height: 70px;
        color: $purple;
        position: absolute;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        top: 90px;

        &.slick-disabled {
            opacity: 0.3;
        }

        &:hover {
            filter: brightness(0.9);
        }
    }

    .left {
        left: -100px;
    }

    .right {
        right: -100px;
    }
}
