#park-updates {
    background-color: #EAEAEA;
    position: relative;
    padding-top: 30px;

    .heading {
        font-family: $amsi;
        color: $purple;
        line-height: 12px;
        font-size: 12px;
        font-weight: 400;
        margin: 0 0 35px;
        text-transform: uppercase;
        display: block;
    }

    .date {
        font-family: $amsi;
        color: #0A0A0A;
        font-size: 12px;
        line-height: 12px;
        display: block;
        margin-bottom: 10px;
    }

    p {
        font-family: $amsi;
        color: #0A0A0A;
        font-size: 16px;
        line-height: 24px;
    }

    .park-updates-slick-container {
        &:after {
            content: ' ';
            display: block;
            height: 100%;
            width: 3px;
            background-color: #eaeaea;
            position: absolute;
            top: 0;
            right: -1px;
        }
    }

    .park-updates-slick .slick-slide {
        padding: 10px 30px;
        background-color: #EAEAEA;
        height: 250px;
        border-right: 2px solid white;
    }

    .carousel-nav {
        width: 70px;
        height: 70px;
        font-size: 70px;
        line-height: 70px;
        color: $purple;
        position: absolute;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        top: 90px;

        &.slick-disabled {
            opacity: 0.3;
            cursor: default;
        }

        &:hover {
            filter: brightness(0.9);
        }

        &:focus {
            outline: none;
        }
    }

    .left {
        left: -100px;
    }

    .right {
        right: -100px;
    }

    .slick-slider {
        margin-bottom: 55px;
    }

    .slick-dots {
        bottom: -32px;

        li {
            height: 10px;
            width: 10px;

            &.slick-active {
                button {
                    background-color: $purple;
                }
            }

            button {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid $purple;

                &:hover, &:focus {
                    filter: brightness(0.5);
                }

                &:before {
                    content: none;
                }
            }
        }
    }
}
