#find-right-ticket {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #F4F4F4;
    
    h1 {
        font-family: 'Amsi Pro Black';
        font-size: 40px;
        line-height: 40px;
        color: #2A3037;
        text-transform: none;
        color: #0a0a0a;
    }

    .slick-ticket-container {
        margin-left: 100px;
        margin-right: 100px;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 20px;
    }

    .ticket {
        width: 330px;
        height: 510px;
        color: #ffffff;
        position: relative;
        border-radius: 5px;
    }

    .ticket-heading {
        height: 60px;
        padding: 10px;
        color: #ffffff;
        text-align: center;
        border-radius: 5px;

        h2 {
            font-size: 17px;
            font-weight: bold;
            padding-top: 4px;
            line-height: normal;
        }

        h3 {
            font-size: 14px;
            padding-top: 3px;
        }
    }

    .ticket-content {
        background-color: #ffffff;
        border-radius: 5px;
        text-align: center;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .ticket-description {
        padding-top: 40px;
        color: #000000;
    }

    .ticket-date {
        padding-top: 75px;
        padding-bottom: 45px;
    }

    .ticket-image {
        img {
            float: left;
        }

        p {
            color: #000;
        }
    }

    div.button {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #ffffff;
        padding: 18px;
        border-radius: 3px;
    }

    .ticket-data a {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #ffffff;
    }

    .ticket-group-menu {
        padding-top: 30px;
        padding-bottom: 20px;

        & > ul {
            list-style: none;

            & > li {
                display: inline-block;

                & > a {
                    border-radius: 5px;
                    text-decoration: none;
                    color: #0a0a0a;
                    display: inline-block;
                    height: 60px;
                    line-height: 60px;
                    padding: 0 36px;
                    font-size: 20px;
                    font-weight: 700;
                    margin-left: 12px;
                    margin-right: 12px;

                    &.selected {
                        border: solid 2px #0a0a0a;
                    }
                }
            }
        }
    }


    .help-me-slick .slick-slide {
        margin: 10px;
    }
}
