#find-right-ticket {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: $grey;

    h1 {
        font-family: 'Amsi Pro Black';
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 48px;
        color: $black;
        text-transform: none;
        color: #0a0a0a;
    }

    .ticket-group-menu {
        & > ul {
            list-style: none;
            margin-bottom: 0;

            & > li {
                display: inline-block;

                &.active {
                    a {
                        border-color: #0a0a0a;
                    }
                }

                & > a {
                    border: solid 2px transparent;
                    border-radius: 5px;
                    text-decoration: none;
                    color: #0a0a0a;
                    display: inline-block;
                    height: 60px;
                    line-height: 60px;
                    padding: 0 36px;
                    font-size: 20px;
                    font-weight: 700;
                    margin-left: 12px;
                    margin-right: 12px;

                    &:hover {
                        background-color: rgba(0,0,0,0.1);
                        border-color: transparent;
                    }
                }
            }
        }
    }

    .slick-ticket-container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 638px;
        padding-top: 68px;
    }

    .slick-track {
        width: 330px;
    }

    .slick-slide {
        width: 330px;
        height: 540px;
    }

    .ticket-outer, .package-outer {
        height: 520px;
        width: 330px !important;
        max-width: 330px;
        display: flex !important;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-end;
    }

    .ticket, .package {
        width: 100%;
        color: #ffffff;
        position: relative;
        box-shadow: 0 2px 7px rgba(0,0,0,0.1);
        border-radius: 5px;
        overflow: hidden;

        @mixin ticket-color($color) {
            .ticket-heading {
                background-color: $color;
            }

            .ticket-date {
                color: $color;
            }

            .button a {
                background-color: $color;
            }

            .ticket-info__type span:after {
                color: $color;
            }
        }

        &.red {
            @include ticket-color($red);
        }

        &.purple {
            @include ticket-color($purple);
        }

        &.blue {
            @include ticket-color($blue);
        }
    }

    .ticket-heading {
        height: 60px;
        padding: 15px 10px 10px;
        color: #ffffff;
        text-align: center;

        h2 {
            font-size: 16px;
            font-weight: bold;
            padding: 0;
            line-height: normal;
        }

        h3 {
            font-size: 14px;
            padding: 0;
        }
    }

    .ticket-content {
        background-color: #ffffff;
        border-radius: 5px;
        text-align: center;
        padding-top: 36px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 25px;
        height: 450px;
    }

    .ticket-description {
        color: #3A3A3A;
        font-weight: 700;
        font-family: 'Amsi Pro Black';
        font-size: 15px;
        line-height: 21px;
        height: 105px;
        border-bottom: 1px solid rgba(177,177,177,0.2);
    }

    .ticket-date {
        height: 110px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 15px;
        line-height: 21px;
    }

    .ticket-info {
        position: relative;
        width: 230px;
        display: table;
        border-radius: 5px;
        table-layout: fixed;
        height: 92px;
        margin: 0 auto 30px;

        & > div {
            display: table-cell;
            border: 1px solid rgba(119,119,119,0.2);
            width: 50%;
            border-collapse: collapse;
            vertical-align: middle;
        }

        &__type {
            position: relative;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            span {
                color: white;
                z-index: 10;
                font-size: 15px;
                line-height: 15px;
                text-transform: uppercase;
                text-align: center;
                display: block;
                margin: 0 25px;
                font-family: "Amsi Pro Black";
                position: relative;

                &:after {
                    content: "\e90d";
                    width: 98px;
                    height: 68px;
                    font-size: 68px;
                    line-height: 68px;
                    position: absolute;
                    left: -17px;
                    top: -20px;
                    font-family: 'Dreamworldfont';
                    z-index: -1;
                    color: yellow;
                }
            }
        }

        &__price {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 14px;
            color: #3A3A3A;
            text-align: left;
            line-height: 17px;
            padding: 12px 30px;
            font-family: "Amsi Pro";

            strong {
                font-family: "Amsi Pro Black";
                display: block;
                font-size: 19px;
                font-weight: 700;

                sup {
                    top: -7px;
                    font-size: 10px;
                }
            }
        }
    }

    .ticket-data {
        .button {
            padding: 0;
        }

        a {
            color: #ffffff;
            font-weight: 700;
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            color: #ffffff;
            height: 56px;
            line-height: 56px;
            width: 100%;
            display: block;

            &:hover {
                filter: brightness(0.9);
            }
        }
    }

    .btn-all {
        height: 60px;
        line-height: 60px;
        width: 270px;
        text-align: center;
        background-color: $blue;
        font-size: 20px;
        color: white;
        display: inline-block;
        border-radius: 5px;
        font-weight: 700;

        &:hover {
            text-decoration: none;
            filter: brightness(0.9);
        }
    }

    .package {
        height: 450px;
        background-color: white;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
        }

        &__inner {
            padding: 30px 30px 25px;
            color: #3A3A3A;
            background-color: white;
            height: 100%;

            .button {
                padding: 0;
            }

            a {
                color: #ffffff;
                font-weight: 700;
                border-radius: 5px;
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
                color: #ffffff;
                height: 56px;
                line-height: 56px;
                width: 100%;
                display: block;
                background-color: $blue;

                &:hover {
                    filter: brightness(0.9);
                }
            }
        }

        &__details {
            height: 98px;

            &__title {
                display: flex;
                font-weight: 700;
                font-family: 'Amsi Pro Black';
                justify-content: space-between;

                h2 {
                    font-size: 14px;
                    line-height: 18px;
                    text-align: left;
                    font-weight: 700;
                }

                .price {
                    color: $blue;
                    text-align: right;
                    font-size: 16px;
                    white-space: nowrap;
                }

                .from {
                    font-size: 11px;
                }

                sup {
                    top: -4px;
                    font-size: 11px;
                }
            }

            &__content {
                font-size: 14px;
                line-height: 17px;
                text-align: left;
            }
        }
    }
    /* bootstrap hack: fix content width inside hidden tabs for slick slider */
    .tab-content > .tab-pane, .pill-content > .pill-pane {
        display: block; /* undo display:none          */
        height: 0; /* height:0 is also invisible */
        overflow: hidden; /* no-overflow                */
    }

    .tab-content > .active, .pill-content > .active {
        height: auto; /* let the content decide it  */
    }
    /* bootstrap hack end */
}
