// colours
$red: #C01D33;
$purple: #4E2098;
$blue: #0091D5;
$yellow: #ECCF4B;
$grey: #F4F4F4;
$black: #2A3037;

// fonts
$amsi: 'Amsi Pro';
$amsi-black: 'Amsi Pro Black';
$amsi-bold: 'Amsi Pro Bold';
$dreamworld-icons: 'Dreamworldfont';

// mixins
@mixin view-mobile() {
    @media(max-width: 767px) {
        @content;
    }
}

@mixin view-tablet() {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin view-small-desktop() {
    @media (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}

@mixin view-large-desktop() {
    @media (min-width: 1200px) {
        @content;
    }
}



/*
    sample of how to use responsive mixins

    @include mobile() {
        color: aqua;
    }

    @include tablet() {
        color: orange;
    }
*/
