#fav-experiences {
    $col-blue: #0091D5;
    $col-purple: #4E20A1;
    $col-red: #C11D33;
    $col-yellow: #ECCF4B;
    $col-menu: #2A3037;
    $col-grey: #F4F4F4;
    $col-black: #000000;
    $col-white: #FFFFFF;


    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    color: #4E20A1;
    margin-left: auto;
    margin-right: auto;


    & > h1 {
        text-align: center;
        color: #4E20A1;
        font-family: 'Amsi Pro';
    }

    #fav-experiences img {
        padding: 0;
        margin: 0;
    }

    .collage div {
        border: solid 1px black;
    }

    .collage-img {
        position: absolute;
        background-size: cover;
        transition: all .2s ease-in-out;
        background-size: cover;
    }

    .collage-img:hover {
        z-index: 10;
        transform: scale(1.05, 1.05);
        box-shadow: 0 4px 2px -2px black;
    }

    #collage-container {
        position: relative;
        max-width: 1080px;
    }

    .collage-lg {
        width: 40%;
        height: 66%;
    }

    .collage-md {
        width: 40%;
        height: 33%;
    }

    .collage-sm {
        width: 20%;
        height: 33%;
    }

    #collage-lg-0 {
        left: 0%;
        top: 33%;
    }

    #collage-lg-1 {
        left: 40%;
        top: 0%;
    }

    #collage-md-0 {
        left: 60%;
        top: 66%;
    }

    #collage-sm-0 {
        left: 0%;
        top: 0%;
    }

    #collage-sm-1 {
        left: 20%;
        top: 0%;
    }

    #collage-sm-2 {
        left: 80%;
        top: 0%;
    }

    #collage-sm-3 {
        left: 80%;
        top: 33%;
    }

    #collage-sm-4 {
        left: 40%;
        top: 66%;
    }
}
