#fav-experiences {
    $col-blue: #0091D5;
    $col-purple: #4E20A1;
    $col-red: #C11D33;
    $col-yellow: #ECCF4B;
    $col-menu: #2A3037;
    $col-grey: #F4F4F4;
    $col-black: #000000;
    $col-white: #FFFFFF;
}
