#find-right-ticket {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 80px;
  padding-bottom: 40px; }
  #find-right-ticket h1 {
    font-family: 'Amsi Pro Black';
    font-size: 40px;
    line-height: 40px;
    color: #2A3037;
    text-transform: none;
    color: #0a0a0a; }
  #find-right-ticket .slick-ticket-container {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px; }
  #find-right-ticket .ticket {
    width: 330px;
    height: 510px;
    color: #ffffff;
    position: relative;
    border-radius: 5px; }
  #find-right-ticket .ticket-heading {
    height: 60px;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px; }
    #find-right-ticket .ticket-heading h2 {
      font-size: 17px;
      font-weight: bold;
      padding-top: 4px;
      line-height: normal; }
    #find-right-ticket .ticket-heading h3 {
      font-size: 14px;
      padding-top: 3px; }
  #find-right-ticket .ticket-content {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px; }
  #find-right-ticket .ticket-description {
    padding-top: 40px;
    color: #000000; }
  #find-right-ticket .ticket-date {
    padding-top: 75px;
    padding-bottom: 45px; }
  #find-right-ticket .ticket-image img {
    float: left; }
  #find-right-ticket .ticket-image p {
    color: #000; }
  #find-right-ticket div.button {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    padding: 18px;
    border-radius: 3px; }
  #find-right-ticket .ticket-data a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff; }
  #find-right-ticket .ticket-group-menu {
    padding-top: 30px;
    padding-bottom: 20px; }
    #find-right-ticket .ticket-group-menu > ul {
      list-style: none; }
      #find-right-ticket .ticket-group-menu > ul > li {
        display: inline-block; }
        #find-right-ticket .ticket-group-menu > ul > li > a {
          border-radius: 5px;
          text-decoration: none;
          color: #0a0a0a;
          display: inline-block;
          height: 60px;
          line-height: 60px;
          padding: 0 36px;
          font-size: 20px;
          font-weight: 700;
          margin-left: 12px;
          margin-right: 12px; }
          #find-right-ticket .ticket-group-menu > ul > li > a.selected {
            border: solid 2px #0a0a0a; }
  #find-right-ticket .help-me-slick .slick-slide {
    margin: 10px; }

