.center-text {
  text-align: center;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-5 {
  border-radius: 5px;
}

.col-1 {
  width: $width-1;
}

.col-2 {
  width: $width-2;
}

.col-3 {
  width: $width-3;
}

.col-4 {
  width: $width-4;
}

.col-5 {
  width: $width-5;
}

.col-6 {
  width: $width-6;
}

.col-7 {
  width: $width-7;
}

.col-8 {
  width: $width-8;
}

.col-9 {
  width: $width-9;
}

.col-10 {
  width: $width-10;
}

.col-11 {
  width: $width-11;
}

.col-12 {
  width: $width-12;
}

.height-40 {
  height: 40px;
  background-color: $col-purple;
  margin-bottom: 10px;
}

.color-purple{
  background-color: $col-purple;
}

.color-red{
  background-color: $col-red;
}

.color-blue{
  background-color: $col-blue;
}

.color-yellow{
  background-color: $col-yellow;
}

.color-beige{
  background-color: $col-beige;
}

.pad-20 {
  padding: $pad-20;
}

.pad-10 {
  padding: $pad-10;
}

.pad-5 {
  padding: $pad-5;
}

.pad-3 {
  padding: $pad-3;
}